<!DOCTYPE html>

<html lang="en">
  
  <head>
    <meta charset="utf-8">
    <title><%= scriptAppName %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,minimum-scale=1" />
    <link rel="stylesheet" href="css/styles.css">
  </head>

  <body ng-app="<%= scriptAppName %>">
    <h1>Welcome to Boom Angular.js Generator!</h1>

    <% if (ngRoute) { %>
    <div ng-view></div>
    <% } %>

    <script type="text/javascript" src="js/_bower.min.js"></script>
    <script type="text/javascript" src="js/all.js"></script>
    <!-- endbuild -->
  </body>
</html>
